p {
    color:#ffaa00;
    background-color: #fff4d6;
}

a:visited {
    color:#00ff00
}

a:hover {
    color:#b02475
}

body {
    background-color: #000000;
    background-image: url("../../images/propic.jpeg");
    background-repeat: no-repeat;
}

.second {
    border: 2px solid #ff0000;
    padding: 10px;
    margin: 20px
}
