body {
    background-color: #000000;
    color: #fcba12
}

p {color: #fcba12}

h1,h2, h3, h4 {color: #fcba12}

head {color: #fcba12}

a:hover {color: #ffffff}

iframe {background-color: #fcba12}

nav {
    color: #000000;
    background-color: #fcba12;
    padding: 10px;
    border: solid #ffffff;
    margin-bottom: 30px
}

nav a {color: #ffffff}

nav a:hover {background-color: #454545}

.special {
    background-color: #ffffff;
}

a {color: #ffffff;}


